<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <!-- JQuery Mobile Theme -->
    <link rel="stylesheet" href="themes/orange-theme.css" />
    <link rel="stylesheet" href="themes/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="script.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>JS Editor</title>
</head>
<body>


    <div data-role="page" id="code">

        <div data-role="header" data-theme='b'>
            <h1 class="page_title">Editor</h1>

            <div data-role="navbar" data-theme='b'>
                <ul>
                <li><a href="#code">Editor</a></li>
                </ul>
            </div>
        </div>  

        <div data-role="content" data-theme='b'>
            <div id="sidebar">
                <h1 class="files_title" id="side_title">Files</h1>
                <input type="file" multiple onchange="saveFiles(this)"/>

                <ul id="file_list" class="border-left">
                </ul>

                <div id="sidebar-btn">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
              </div>
            
            <label for="open_file" id="open_file_label"></label>
            <button id="save_file" onclick="downloadOpen()">Download File</button>
            <button id="save_all" onclick="saveFilesToDirectory()">Save All</button>
            <button id="send_to_server" class="pushed" onclick="sendFilesToServer()">Output</button>
            <div id="open_file_wrapper" class="pushed">

                <textarea onchange="saveFileTextChange()" onclick="onEditStart()" cols="100" rows="40"  id="open_file" style="overflow-y: scroll; resize: none; overflow-x: scroll; max-height: 1000px;"></textarea>
            </div>

        </div>
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="script.js"></script>

          <div data-role="footer" data-theme='b'>
            <h3>Copyright <span class="year"></span> by Vladyslav Tsepenok</h3>
        </div>
    </div>
</body>
</html>