<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cool calculator</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
        <h1>Three Buttons</h1>
        <label for="field1"></label><input id="field1" type="number"><div></div>
        <label for="field2"></label><input id="field2" type="number"><div></div>
        <label for="field3"></label><input id="field3" type="number"><div></div>
        <button type="button" id="square">Square</button>
        <button type="button" id="cube">Cube</button>
        <button type="button" id="toTheFourth" onclick="toTheFourthValues()">ToTheFourth</button>
    </main>

<script src="main.js"></script>
</body>
</html>