<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

    <title>Document</title>
</head>
<body>
    <!-- ======================================================================================== -->
    
    //======================================
    <div data-role="page" id="home">

        <!-- header --> 
        <div data-role="header" data-theme='b'>
            <h2>math program - home</h2>
        
            <div data-role="navbar" data-theme='b'>
                <ul>
                <li><a href="#home">Home Page</a></li>
                <li><a href="#add">Add Page</a></li>
                <li><a href="#subtract">Subtract Page</a></li>
                </ul>
            </div><!-- /navbar -->
        </div>  
        //======================================

        //======================================
        <!-- content -->
        <div data-role="content" data-theme='e'>
            Real application function code
        </div>
        //======================================

        //======================================
          <!-- notes footer --> 
          <div data-role="footer" data-theme='b'>
            <h3>Copyrigtht 2023 by Kurt Friedrich</h3>
        </div>
        //======================================
    </div>
   <!-- ======================================================================================== -->


   <!-- ======================================================================================== -->
    <div data-role="page" id="add">
        
        <!-- =================================== -->
        <!-- header --> 
        <div data-role="header" data-theme='b'>
            <h2>math program - add</h2>

            <div data-role="navbar" data-theme='b'>
                <ul>
                 <li><a href="#home">Home Page</a></li>
                 <li><a href="#add">Add Page</a></li>
                 <li><a href="#subtract">Subtract Page</a></li>
                </ul>
            </div><!-- /navbar -->

        </div>
        <!-- =================================== -->

        <!-- =================================== -->
        <!-- content -->
        <div data-role="content" data-theme='e'>
            Real application function code
        </div>
        <!-- =================================== -->


        <!-- =================================== -->
        <!-- notes footer --> 
        <div data-role="footer" data-theme='b'>
            <h3>Copyrigtht 2023 by Kurt Friedrich</h3>
        </div>
        <!-- =================================== -->
    </div>
     <!-- ======================================================================================== -->


    
      <!-- ======================================================================================== -->
    <div data-role="page" id="subtract">
        
          <!-- =================================== -->
        <!-- header --> 
        <div data-role="header" data-theme='b'>
            <h2>math program - subtract</h2>
       

            <div data-role="navbar" data-theme='b'>
                <ul>
                <li><a href="#home">Home Page</a></li>
                <li><a href="#add">Add Page</a></li>
                <li><a href="#subtract">Subtract Page</a></li>
                </ul>
            </div><!-- /navbar -->
        </div>
           <!-- =================================== -->

          <!-- =================================== -->
        <!-- content -->
        <div data-role="content" data-theme='e'>
            Real application function code
        </div>
           <!-- =================================== -->

           <!-- =================================== -->
        <!-- notes footer --> 
        <div data-role="footer" data-theme='b'>
            <h3>Copyrigtht 2023 by Kurt Friedrich</h3>
        </div>
        <!-- =================================== -->

    </div>
     <!-- ======================================================================================== -->
    
    
</body>
</html>